 <!DOCTYPE html>
 <head>
  <title> : {{ thisStep.title }} </title>
  <link rel="stylesheet" href="http://edel020.bitbucket.org/assets/style/semantic/css/semantic.min.css" type="text/css">  
  <link rel="stylesheet" href="http://edel020.bitbucket.org/assets/style/custom/bookmain.css" type="text/css"> 
  <link rel="stylesheet" href="http://edel020.bitbucket.org/assets/style/highlight/highlight.css">

</head>
 
 <body>
  # block content
  # endblock

  <script src="http://edel020.bitbucket.org/assets/style/highlight/highlight.js"></script> 
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="http://edel020.bitbucket.org/assets/style/custom/jquery-2.1.0.min.js"></script> 
  <script src="http://edel020.bitbucket.org/assets/style/custom/common.js"> </script> 

  #if tracking
    #include 'tracking.html'
  #endif  

 </body>
 </html>