# extends "main.html"
# block content 

  <header class="ui middle aligned two column raised grid segment"> 
    <div class="row">
      <div class="column">
       <h1> {{course.title}} </h1>
       <h3> {{course.programme}}</h3>
      </div>
      <div class="column">
        <img class="ui medium image floated right" src="./style/custom/logo.png"/>
      </div> 
    </div>
  </header>

 <!--   <div class="ui ivertical sidebar segment">
    <iframe width=100% height=100% src="http://www.wit.ie"></iframe>
  </div>

  <div class="ui raised segment">
      <div class="ui left floated black launch button">
    <i class="list layout icon"></i> Menu
  </div>-->
  
	<div class="ui grid">
	  <section class="ui four column wide">
	  
      <nav class="ui vertical fluid pointing menu">
        <div class="menu">
          # for currentTopic in course.topics 
            <a class="item" href=" ./{{currentTopic.topicFolder}}/index.html">  {{currentTopic.title}} </a>
          # endfor 
        </div>
      </nav>
      
	  </section>
	      
	  <section class="ui twelve column wide">
	  
	    <section class="ui stacked segment">
	      {{course.summary}}
	    </section>
	    
	  </section>
	  
  </div> 
  	
# endblock