# extends "main.html" 
# block content 

  <nav class="ui fixed top pointing borderless inverted menu">
    <header class="header item"> <a href="{{courseUrl}}">{{lab.title}}</a></header>
    <div class="right menu">
      # for currentStep in lab.steps 
        # if currentStep.markdown == thisStep.markdown
      <a class="active item" href="{{currentStep.markdown}}.html"> {{currentStep.title}} </a>
        # else 
      <a class="item" href="{{currentStep.markdown}}.html"> {{currentStep.title}} </a>
        # endif   
      # endfor 
    </div>
  </nav>

  <br>

  <section class="ui stacked clarity-book segment">
   {{ thisStep.content }}
  </section>

  #if tracking
    #include 'tracking.html'
  #endif  

# endblock 