# extends "main.html"
# block content

  <header class="ui middle aligned two column raised grid segment"> 
    <div class="row">
      <div class="column">
       <h1> <a href="../index.html"> {{course.title}} </a></h1>
       <h3> {{course.programme}}</h3>
      </div>
      <div class="column">
        <img class="ui medium image floated right" src="./style/custom/logo.png"/>
      </div> 
    </div>
  </header>

	<section class="ui grid">
	  <section class="ui four column wide">
	  
      <nav class="ui vertical fluid pointing menu">
        <div class="menu">
          # for currentTopic in course.topics 
            # if currentTopic == topic  
              <a class="active item" href=" ../{{currentTopic.topicFolder}}/index.html">  {{currentTopic.title}} </a>
            # else 
              <a class="item" href=" ../{{currentTopic.topicFolder}}/index.html">  {{currentTopic.title}} </a>
            # endif  
          # endfor 
        </div>
      </nav>	    
	    
	  </section>
	  <section class="ui twelve column wide">
	    <section class="ui stacked segment">   
	          
	      <div class="ui celled grid">
	        <div class="ten column wide">                   
	          <h1> {{topic.title}} </h1>
	           {{topic.content}}
	        </div>
	        
	        <div class="six vertical column wide">   
            <h1> Slides </h1>
             <div class="ui list">
               # for pdf in topic.pdfs 
                <a class="item" href="./pdf/{{pdf}}"> {{pdf}}
                  <i class="right triangle icon"></i>
                </a>
               # endfor  
           </div>
	        </div>
	              
	      </div> 
	
	     # for lab in topic.labs 
	       <div class="ui celled grid">
	         <div class="two six column wide">
	         <h1> Lab </h1>
	            <a class="ui primary fluid button" href=".{{lab.labUrl}}"> Start </a>
	         </div>
	         <div class="ten column wide">
	           {{lab.labObjectives}}
	         </div>       
	       </div>  
	     # endfor    
	         
	    </section>        
	  </section>
	</section>
	 

# endblock